extends ../../layouts/default

block head
	title My events

block body
	div.row
		div.col-sm-8
			div.page-header
				h1 My events
			if data
				ul.events
					each event, i in data
						li
							strong #{event.name}
							&nbsp;&nbsp;
							i.fa.fa-pencil
							a(href='/events/edit/#{event._id}')   Edit
							&nbsp;&nbsp;
							i.fa.fa-trash
							a(id='deleteEvent#{event._id}', data-delete='#{event._id}', href='#')  Delete
			else
				p You have no events.
		div.col-sm-4
			div.page-header
				h1 Sidebar